
nav{
    background-color: rgb(18, 18, 62);
}
.nav-brand{
    color: white;
}

.anchors{
    text-decoration: none;
    color: gold;
    font-size: 1.5rem;
}
.bar{
  color: white;
  
}
.bars{
  display: none;

}

.list a{
    color: white;
}
.para{
    height: 20rem;
    width: 100%;
    display: flex;
}
.parent{
    background-color: rgb(0, 0, 33);
   position: relative;
  top: -0.95rem;
 
}

    .typejs{
        color: white;
        height: 200px;
        width: 480px;
        border: 2px solid white ;
        margin-left: 2rem;
        font-size: 2.75rem;
        margin-top: 8rem;
        margin-bottom: 100px;
        color: white;
        border: none;
       
    }


.img{
    height: 400px;
    width: 400px;
    border: 4px solid gold;
   position: absolute;
  margin-left: 40em;
  margin-top: 2rem;
    border-radius: 50%;
    
    box-shadow: 2px 3px 50px gold;
   
    background-image: url("WhatsApp\ Image\ 2023-10-07\ at\ 11.14.38_c3a5f7a9.jpg");
    background-size: cover;
}

#name{
    color: rgb(170, 107, 228);
}
#element{
    color: rgb(170, 107, 228);
}
.aboutme{
    margin-top: 15rem;
}
.third{
    margin-top: 8rem;
}
.hover:hover{
    box-shadow: 1px 3px 20px 5px gold;
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

svg {
    height: 23rem;
    margin-right: 4rem;
  }
  
  #envelope {
    animation: float 2s ease-in-out infinite;
  }
  
  #star1, #star2, #star3, #star4, #star5, #star6 {
    animation: blink 1s ease-in-out infinite;
  }
  #star2 { animation-delay: 100ms; }
  #star3 { animation-delay: 500ms; }
  #star4 { animation-delay: 700ms; }
  #star5 { animation-delay: 300ms; }
  #star6 { animation-delay: 200ms }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .container3 {
    height: 100vh;
  }
  
  form {
    min-width: 25rem;
    
    .title {
      font-family: 'Pacifico', cursive;
      color: #212529;
      font-size: 2.5rem;
    }
    
    .form-control {
      background-color: #f2f6f8;
      border-radius: 2rem;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
      
      &.thick {
        height: 3.3rem;
        padding: .5rem 3.5rem;
      }
      
      &:focus {
        background-color: #f2f6f8;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
      }
    }
    
    .message .form-control {
        padding: .5rem 1.8rem;
    }
    
    ::placeholder {
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
      font-size: 1.1rem;
      color: #838788;
      position: relative;
      left: 0;
     
    }
    
    input,
    textarea {
      font-family: 'Quicksand', sans-serif;
      color: #212529;
      font-size: 1.1rem;
      margin-top: 1rem;
    
    }
     
    .icon {
      color: #57565c;
      height: 1.3rem;
      position: absolute;
      left: 1.5rem;
      top: 1.1rem;
    }
  }
  
  .btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
  }
  

 .fourth{
    margin-top: 8rem;
 }



 @media screen  and (min-width: 320px) {
  .img{
    height: 250px;
    width: 250px;
    border: 4px solid gold;
   position: absolute;
  margin-left: 5em;
  margin-top: 2rem;
    border-radius: 50%;
    
    box-shadow: 2px 3px 50px gold;
   
    background-image: url("WhatsApp\ Image\ 2023-10-07\ at\ 11.14.38_c3a5f7a9.jpg");
    background-size: cover;
}
.typejs{
    font-size: 2.295rem;
    margin-top: 20rem;
}
.aboutme{
margin-top: 20rem;

}
.form-group input{
width: 90%;
}
.form-group textarea{
width: 90%;
}
svg{
position: absolute;
top: 265rem;
left: 0rem;
height: 290px;
width: 100%;
background-color: rgb(0, 0, 33);;
}
 }




@media screen and (max-width:435px) {
  svg{
    position: absolute;
    top: 267.3rem;
    left: 0rem;
    height: 290px;
    width: 100%;
    background-color: rgb(0, 0, 33);;
    }
}
@media screen and (max-width:380px) {
  svg{
    position: absolute;
    top: 295rem;
    left: 0rem;
    height: 290px;
    width: 100%;
    background-color: rgb(0, 0, 33);;
    }
    .form-group input{
      width: 85%;
      margin-left: 2rem;
      }
      .form-group textarea{
      width: 85%;
      margin-left: 2rem;
      }
      .img{
        height: 250px;
        width: 250px;
        border: 4px solid gold;
       position: absolute;
      margin-left: 3em;
      margin-top: 2rem;
        border-radius: 50%;
        
        box-shadow: 2px 3px 50px gold;
       
        background-image: url("WhatsApp\ Image\ 2023-10-07\ at\ 11.14.38_c3a5f7a9.jpg");
        background-size: cover;
    }
}
@media screen and (max-width:395px) {
  svg{
    position: absolute;
    top: 281rem;
    left: 0rem;
    height: 290px;
    width: 100%;
    background-color: rgb(0, 0, 33);;
    }
    .form-group input{
      width: 85%;
      margin-left: 2rem;
      }
      .form-group textarea{
      width: 85%;
      margin-left: 2rem;
      }
      .img{
        height: 250px;
        width: 250px;
        border: 4px solid gold;
       position: absolute;
      margin-left: 3em;
      margin-top: 2rem;
        border-radius: 50%;
        
        box-shadow: 2px 3px 50px gold;
       
        background-image: url("WhatsApp\ Image\ 2023-10-07\ at\ 11.14.38_c3a5f7a9.jpg");
        background-size: cover;
    }
      
}


@media  screen and (min-width: 992px) {
  .img{
    height: 400px;
    width: 400px;
    border: 4px solid gold;
   position: absolute;
  margin-left: 39rem;
  margin-top: 2rem;
    border-radius: 50%;
    
    box-shadow: 2px 3px 50px gold;
   
    background-image: url("WhatsApp\ Image\ 2023-10-07\ at\ 11.14.38_c3a5f7a9.jpg");
    background-size: cover;
}
.typejs{
  color: white;
  height: 200px;
  width: 480px;
  border: 2px solid white ;
  margin-left: 2rem;
  font-size: 2.75rem;
  margin-top: 8rem;
  margin-bottom: 100px;
  color: white;
  border: none;
 
}

form{
  margin-left: 40rem;
}

svg{
  width: 60%;
  height: 310px;
  position: absolute;
  top: 135rem;
}

}
